.Banner__conteneur {
    width: 95%;
    height: 250px;
    position: absolute;
    left: 3%;
    margin-top: 120px;
    margin-bottom: 50px;


    .Banner__img {
        @include medium-radius;
        height: 100%;
        object-fit: cover;
        width: 100%;
        opacity: 1;
    }

    // .Banner__border {
    //     border-radius: 35px;
    //     background-color: $background-color;
    //     height: 100%;
    //     opacity: 0.3;
    // }



    .Banner__h1 {
        position: absolute;
        left: 32%;
        top: 27%;
        font-weight: 600;
        font-style: Medium;
        font-size: 35px;
        line-height: 100%;
        color: $tertiary-color;
        // margin-left: 5%;
    }
}