.collapse {

    width: 70%;
    // max-width: 100%;
    height: 80%;
    padding: 60px;
    gap: 40px;
    position: absolute;
    left: 11%;
    top: 70%;
    background-color: $secondary-color;
    @include small-radius;
    align-items: center;

}

.collapse__disply__BigContainer {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.collapse__disply__container {

    // max-width: 100%;
    width: 100%;
    height: 100%;


    &__title {
        //max-width: 100%;
        width: 100%;
        padding: 50px;
        background-color: $primary-color;
        @include flex-page-logement;
    }

    h2 {
        width: 85%;
        @include font(24px, 500);
        color: #fff;
        background-color: $primary-color;
        padding: 12px;
        @include small-radius;
        @include flex-page-logement;
    }


    p {
        color: $primary-color;
        @include flex-end;
        overflow: hidden;
        width: 86%;
        align-items: center;


        i {
            width: 5%;
            height: 20px;
            cursor: pointer;
            color: $tertiary-color;
            color: #ff6060;
            @include flex-end;

        }

        .fa-chevron-up {
            background-image: url(../../assets/images/Collapse/vectorHaut.svg);
        }

        .fa-chevron-down {
            background-image: url(../../assets/images/Collapse/vectorHaut.svg);
        }
    }

    &__content {
        @include flex-start;
        background-color: $secondary-color;

        max-width: 100%;
        width: 80%;
        height: 180px;
        border-radius: 5px;
        color: $primary-color;
    }
}