.collapse {
    width: 100%;
    height: 100%;
    padding: 30px;
    //gap: 40px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 55%;
    @include small-radius;
    @include flex-center;
}

.collapseDisply__container {
    max-width: 90%;
    width: 1000px;
    height: 50px;
    background-color: $primary-color;
    @include small-radius;
    margin-bottom: 40px;

    .collapseDisply__title {
        width: 94%;
        height: 10px;
        background-color: $primary-color;
        color: $tertiary-color;
        cursor: pointer;
        margin-bottom: 50px;
    }

    h2 {
        //width: 90%;
        @include font(20px, 500);
        color: $tertiary-color;
        padding: 10px;
        border-radius: 5px;
        @include flex-page-logement;
    }

    .arrow {
        @include flex-end;
        width: 15px;
        color: $tertiary-color;
        transition: all 0.2s ease-in-out;

        @media screen and (max-width: 1230px) {
            width: 12px;
        }
    }

    .arrow__up {
        width: 15px;
        transform: rotate(0deg);
    }

    .arrow__down {
        width: 15px;
        align-self: center;
        transform: rotate(180deg);
    }


    .collapseDisplay__content {
        width: 100%;
        height: auto;
        color: $primary-color;
        background-color: $secondary-color;
        visibility: visible;
        opacity: 1;
    }

    p {
        @include font(16px, 400);
        color: $primary-color;
        background-color: $secondary-color;
        margin: 0 auto;
        @include small-radius;
    }

}

@media screen and (max-width: $small) {
    .collapse {
        width: 60%;
        position: absolute;
        left: 0%;
        right: 0%;
    }

    .collapseDisply__container {
        width: 400px;
    }
}

.collapseDisplay__content {
    width: 100%;
    margin-top: -30px;
}



@media screen and (max-width: $medium) {
    .collapse {
        width: 60%;
        position: absolute;
        left: 0%;
        right: 0%;
        @include flex-center;
    }


    .collapseDisply__container {
        width: 600px;
    }
}

@media screen and (max-width: $large) {
    .collapse {
        width: 92%;
        position: absolute;
        left: 0%;
        right: 0%;
        @include flex-center;
    }

    .collapseDisply__container {
        width: 800px;

    }
}