.collapse {

    width: 70%;
    height: 100%;
    // padding: 30px;
    gap: 40px;
    position: absolute;
    left: 15%;
    top: 70%;
    background-color: $secondary-color;
    @include small-radius;
    @include flex-center;
    align-items: center;

}

.collapse__disply__BigContainer {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.collapse__disply__container {
    width: 800px;
    height: 100%;

    .collapse__disply__container {

        width: 100%;
        background-color: $primary-color;
    }

    .collapse__disply__title {
        //max-width: 100%;
        width: 80%;
        height: 30px;
        background-color: $primary-color;
        @include flex-page-logement;
        color: #fff;

        .arrow__up {
            width: 3%;
            height: 12px;
            align-self: center;
            transform: rotate(0deg);
        }

        .arrow__down {
            transform: rotate(180deg);
        }

    }

    h2 {
        height: 25px;
        @include font(20px, 500);
        color: #fff;
        padding: 10px;
        border-radius: 5px;
    }

    p {
        color: $primary-color;
        @include flex-end;
        overflow: hidden;
        width: 80%;
        align-items: center;

    }

    i {
        width: 5%;
        height: 20px;
        cursor: pointer;
        color: $tertiary-color;
        color: #ff6060;
        @include flex-end;

    }



    &__content {
        @include flex-start;
        background-color: $secondary-color;
        width: 80%;
        height: 180px;
        border-radius: 5px;
        color: $primary-color;
    }

    p {
        @include font(16px, 400);
        color: $primary-color;
        // margin: 0 auto;
        // padding: 0.8em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }
}