.errorContainer {
    width: 100%;
    height: 100%;
    color: $primary-color;
    @extend %flex-column;
    gap: 30px;
    box-sizing: border-box;
    @include flex-center;


    &__Number {
        @include font(200px, 600);
        margin: 12rem 0 1rem 0;
        line-height: 150%;
    }

    &__Text {
        text-align: center;
        @include font(34px, 500);
        margin: 0 11%;
    }

    &__LinkHome {
        @include flex-end;
        color: $primary-color;
        @include font(20px, 500);
        margin-top: 30px;



        &:hover,
        &:focus {
            text-decoration-line: underline;
        }
    }

    @media screen and (max-width: $small) {
        .errorContainer {
            width: 100%;
        }

        &__Number {
            @include font(100px, 600);
            margin: 12rem 0 1rem 0;
            line-height: 150%;
        }

        &__Text {
            text-align: center;
            @include font(24px, 500);
            margin: 0 11%;
        }

        &__LinkHome {
            @include font(14px, 500);
        }
    }


}