.Fiche-container {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12%;
  margin-left: 2%;

  @media screen and (max-width: $small) {
    margin-top: 22%;
    margin-right: 2%;
  }

  @media screen and (max-width: $medium) {
    margin-top: 22%;
  }
}

.Fiche-logement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96%;
  // margin-top: 2%;
}

.informations {
  @include flex-page-logement;
  width: 100%;

  &__titletags {
    @extend %flex-column;
    width: 75%;

    &__title {
      @include flex-column;
      margin-bottom: 15px;
      @include font(35px, 600);

      .titre_logement {
        margin-left: 5px;
      }

      .endroit-logement {
        @include font(18px, 500);
      }

      @media screen and (max-width: $small) {
        @include font(18px, 500);

        .endroit-logement {
          @include font(16px, 400);
        }
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .informations__proprietaire {
    @include flex-page-logement;


    &__nom-propre {
      margin-bottom: 50px;

      .Host__name {
        @include font(18px, 500);
        text-align: right;
        margin-bottom: -58px;
        width: 50px;

      }

      .Host__img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;
        @include flex-end;
        margin-left: 90px;
      }

      @media screen and (max-width: $small) {
        .Host__name {
          @include font(16px, 600);
          position: relative;
          left: 10%;
        }
      }
    }

    &__rate {
      @include flex-end;
      margin-left: -150px;

      .etoile {
        width: 30px;
        height: 30px;
      }

      @media screen and (max-width: $small) {
        position: absolute;
        left: 40%;
        bottom: 16%;

        .etoile {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.description-centent {
  width: 96%;
  @include flex-page-logement;
  align-content: center;
  flex-wrap: wrap;

  @media screen and (max-width: $medium) {
    width: 100%;
    margin-top: 30%;
  }

  &__description {
    width: 47%;
  }

  &__equipement {
    width: 47%;
  }

  @media screen and (max-width: $small) {

    .Fiche-logement {
      margin-bottom: 50px;
    }

    .description-centent {
      margin-top: 150px;

      &__description {
        width: 96%;
      }

      &__equipement {
        width: 96%;
      }
    }
  }
}