.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
}
.header__fig {
  position: absolute;
  left: 4%;
  top: 6%;
}
.header__logo {
  margin-bottom: 50px;
}