.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 95%;
    width: 95%;
    height: 100px;
    position: absolute;
    left: 3%;
    top: 0%;
    margin: 10px 0 10px 0;

    @media screen and (max-width: $small) {
        max-width: 95%;
    }

    @media screen and (max-width: $medium) {
        max-width: 95%;

    }

    &__fig {
        height: 100%;
        // margin: 0 10px 0 0;
        align-self: center;

        @media screen and (max-width: $small) {
            height: 60%;

        }

        @media screen and (max-width: $medium) {
            height: 75%;

        }
    }

    &__logo {
        height: 60%;

        @media screen and (max-width: $small) {
            height: 70%;
        }
    }
}