.Host-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // @extend %flex-rowReverse;


    &__name {
        color: #ff6060;
        font-size: 22px;
        font-weight: 700;
    }

    &__img {
        border-radius: 50%;
        height: 64px;
        object-fit: cover;
        width: 64px;
    }
}