.Fiche-container {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 2%;
  padding-top: 2%;

  @media screen and (min-width: $breakpoint-desktop) and (max-width:$large) {
    width: 96%;

  }

  @media screen and (min-width: $large) {
    width: 100%;

  }
}

.Fiche-logement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;

  @media screen and (min-width: $breakpoint-desktop) {
    width: 96%;
  }


}

.informations {
  @include flex-column;

  &__titletags {
    @include flex-column;

    &__title {
      @include flex-column;
      margin-bottom: 15px;

      .titre-logement {
        @include font(20px, 500);
        line-height: 142.6%;
      }

      .endroit-logement {
        @include font(14px, 500);
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    @include font(30px, 600);
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    &__titletags {
      @include flex-column;
      margin-bottom: 50px;
      overflow: hidden;
      width: 75%;

      &__title {
        @include flex-column;

        .titre-logement {
          @include font(36px, 500);
          display: flex;
          align-items: flex-end;
        }

        .endroit-logement {
          @include font(18px, 500);
          display: flex;
          align-items: flex-end;
        }
      }

      &__tags {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
      }
    }

  }

  &__proprietaire {
    @extend %flex-rowReverse;
    margin-right: 8px;
    margin-top: 22px;

    @media screen and (min-width: $large) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      width: 18%;
      position: absolute;
      right: 5%;
      margin-top: 14px;
    }

    @media screen and (min-width: $breakpoint-desktop) and (max-width:$large) {
      position: absolute;
      right: 6.5%;
      display: flex;
      flex-direction: column;

    }

    &__nom-Image {
      @extend %flex-rowCenterWithSpace;
      order: 1;

      @media screen and (min-width: $large) {
        height: 40px;
        position: relative;

      }
    }

    &__rate {
      order: 3;
      @include flex-end;

      @media screen and (min-width: $breakpoint-desktop) {
        @include flex-center;

      }

    }
  }
}

.description-centent {
  width: 98%;
  @include flex-column;
  margin-left: -4px;

  &__description {
    width: 100%;
  }

  &__equipement {
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-top: -25px;


    &__description {
      width: 46%;
    }

    &__equipement {
      width: 46%;
    }
  }

  @media screen and (min-width: $breakpoint-desktop) and (max-width:$large) {
    width: 100%;
  }

}