.Fiche-container {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4%;
  padding-top: 2%;

  @media screen and (min-width: $breakpoint-desktop) {
    width: 96%;
    margin-top: -40px;
    margin-left: 18px;

  }
}

.Fiche-logement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96%;
  margin-top: 2%;

  @media screen and (min-width: $breakpoint-desktop) {
    width: 96%;
    margin-top: -25px;


  }
}

.informations {
  @include flex-column;


  &__titletags {
    @include flex-column;

    &__title {
      @include flex-column;
      margin-bottom: 15px;

      .titre-logement {
        @include font(20px, 500);
        line-height: 142.6%;

      }

      .endroit-logement {
        @include font(14px, 500);
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    @include font(30px, 600);
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    &__titletags {
      @include flex-column;
      margin-bottom: 50px;

      &__title {
        @include flex-column;

        .titre-logement {
          @include font(36px, 500);
          display: flex;
          align-items: flex-end;
        }

        .endroit-logement {
          @include font(18px, 500);
          display: flex;
          align-items: flex-end;
        }
      }

      &__tags {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
      }
    }

  }

  &__proprietaire {
    @extend %flex-rowReverse;
    width: 100%;
    padding-top: 15px;


    @media screen and (min-width: $breakpoint-desktop) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      width: 16%;
      position: absolute;
      right: 7%;

    }

    &__nom-Image {
      @extend %flex-rowCenterWithSpace;
      order: 1;

      @media screen and (min-width: $breakpoint-desktop) {
        width: 65%;
        height: 40px;
        position: relative;
      }
    }

    &__rate {
      order: 3;
      @include flex-end;

      @media screen and (min-width: $breakpoint-desktop) {
        @include flex-center;
        margin-bottom: 25px;
      }

    }
  }
}

.description-centent {
  width: 98%;
  @include flex-column;
  padding-right: 4px;

  &__description {
    width: 100%;
  }

  &__equipement {
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-top: -25px;
    margin-left: 6px;

    &__description {
      width: 46%;
    }

    &__equipement {
      width: 46%;
    }
  }

}