//@import "Collapse.scss";


.Fiche-container {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8%;
  margin-left: 2%;

  @media screen and (max-width: $small) {
    margin-top: 22%;
    margin-right: 2%;
  }

  @media screen and (max-width: $medium) {
    margin-top: 22%;
  }
}

.Fiche-logement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96%;
  margin-top: 2%;

  @media screen and (max-width: $small) {
    margin-top: 3%;

  }
}

.informations {
  @include flex-page-logement;
  width: 100%;

  &__titletags {
    @extend %flex-column;
    width: 75%;

    &__title {
      @include flex-column;
      margin-bottom: 15px;
      @include font(30px, 600);

      .titre_logement {
        margin-left: 5px;
      }

      .endroit-logement {
        @include font(18px, 500);
      }

      @media screen and (max-width: $small) {
        .endroit-logement {
          @include font(16px, 400);
        }
      }

      @media screen and (max-width: $medium) {
        @include font(20px, 600);

        .endroit-logement {
          @include font(16px, 400);
        }
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .informations__proprietaire {

    //@include flex-page-logement;
    @media screen and (max-width: $small) {
      @include font(14px, 600);
      position: absolute;
      right: 5%;
      bottom: 20%;

      &__nom-Image {
        width: 56%;
        height: 40px;
      }
    }


    &__rate {
      @include flex-end;
      width: 40%;
    }
  }
}


.description-centent {
  width: 96%;
  @include flex-page-logement;
  align-content: center;
  flex-wrap: wrap;

  &__description {
    width: 47%;
  }

  &__equipement {
    width: 47%;
  }

  @media screen and (max-width: $medium) {
    width: 96%;
    margin-top: 12%;

    &__description {
      width: 47%;
    }

    &__equipement {
      width: 47%;
    }
  }

  @media screen and (max-width: $small) {
    .description-centent {
      width: 96%;
      margin-top: 5%;

      &__description {
        width: 96%;
      }

      &__equipement {
        width: 96%;
      }
    }
  }
}