.collapse {

    width: 89%;
    height: 100%;
    margin: 20px 0;
    padding: 50px;
    gap: 40px;
    position: absolute;
    left: 3%;
    top: 70%;
    background-color: $secondary-color;
    @include small-radius
}

.collapse__disply__BigContainer {
    /* max-width: 80%;
    width: 80%;*/
    @include flex-center;

}

.collapse__disply__container {

    max-width: 100%;
    width: 80%;
    // color: $primary-color;
    height: 100px;
    // @include small-radius;
    //background-color: $primary-color;

    &__title {
        max-width: 100%;
        width: 80%;
        padding: 50px;
        //@include flex-start;
        //  color: #fff;

        background-color: $primary-color;

    }

    h2 {
        // width: 100%;
        @include font(24px, 500);
        color: #fff;
        background-color: $primary-color;
        padding: 20px;
    }


    p {
        color: $primary-color;

        i {
            @include flex-end;
            height: 20px;
            cursor: pointer;
            color: $tertiary-color;
        }
    }

    &__content {
        @include flex-start;
        background-color: $secondary-color;

        max-width: 100%;
        width: 80%;
        height: 80px;
        border-radius: 5px;
        color: $primary-color;
    }
}