.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 0.2rem;
}

/*
&__navbar-link-home,
&__navbar-link-about {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
*/