.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    //padding: 0.2rem;
    margin-right: 10px;
    position: absolute;
    right: 1%;
    top: 6%;


    &__link-home,
    &__link-about {
        display: flex;
        justify-content: space-between;
        color: $primary-color;
        text-decoration: none;
        margin-right: 60px;
        margin-top: 25px;
        color: red;
        font-size: 20px;
        font-weight: 500;

        &:hover {
            font-size: 24px;
            text-decoration: underline;
            transform: scale(1.02);

        }
    }
}