.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    //padding: 0.2rem;
    margin-right: 100px;


    &__link-home,
    &__link-about {
        display: flex;
        justify-content: space-between;
        color: $primary-color;
        text-decoration: none;
        margin-right: 30px;
        color: red;
        font-size: 22px;
        font-weight: 500;

        &:hover {
            font-size: 24px;
            text-decoration: underline;
            transform: scale(1.02);

        }
    }
}