.rate-container {
    position: absolute;
    right: 4%;

    .etoile {
        width: 28px;
        height: 28px;
    }

    @media screen and (max-width: $small) {
        display: flex;
        align-items: flex-start;
        position: absolute;
        right: 69%;
        margin-top: 10px;


        .etoile {
            width: 18px;
            height: 18px;
        }
    }

    @media screen and (max-width: $medium) {
        @include flex-end;

        .etoile {
            width: 20px;
            height: 20px;
        }
    }
}