.rate-container {
    position: absolute;
    bottom: -57%;
    right: 4%;

    .etoile {
        width: 25px;
        height: 25px;
    }

    @media screen and (max-width: $small) {
        // @include flex-start;
        position: absolute;
        right: 140%;
        bottom: 48%;

        .etoile {
            width: 18px;
            height: 18px;
        }
    }

    @media screen and (max-width: $medium) {
        @include flex-end;
        // position: absolute;
        //  left: 14%;
        // bottom: 12%;

        .etoile {
            width: 20px;
            height: 20px;
        }
    }
}