.Espace-Logements {
    margin-top: 60px;
    margin-bottom: -120px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 90%;
    @include medium-radius;
    position: absolute;
    left: 5%;
    top: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    background-color: $secondary-color;
    position: relative;
    min-height: 100vh;

    @media screen and (max-width: $small) {
        width: 100%;
        @include flex-center;
        position: relative;
        top: -20px;
       // min-height: 100vh;
        background-color: $tertiary-color;
      
    }

    @media screen and (max-width: $medium) {
        width: 90%;
        // @include row-center;
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

    }

    @media screen and (min-width:$small) and (max-width: 840px) {
        background-color: $tertiary-color;
    }
}