.HostContainer {
    @extend %flex-rowEnd;
    margin-bottom: 40px;

    &__name {
        color: #ff6060;
        @include font(18px, 500);
        text-align: right;
        margin-bottom: -58px;
        width: 50px;

        @media screen and (max-width: $small) {
            @include font(16px, 600);
            margin-right: -12px;

        }
    }

    &__img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;
        @include flex-end;
        margin-left: 35px;
    }

    @media screen and (max-width: $small) {
        margin-left: 50px;
    }
}