//01/07
.HostContainer {
    @extend %flex-rowEnd;
    margin-bottom: 0;

    &__name {
        color: $primary-color;
        @include font(18px, 500);
        text-align: right;
        margin: 8px -24px 10px 0;
        text-align: right;
        width: 80px;

    }
    &__img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;
        @include flex-end;
        margin-left: 35px;

    }
}