.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;


    @media screen and (min-width: $breakpoint-desktop) {
        margin-left: 6.5%;
        position: relative;
    }

    &__fig {
        display: flex;
        align-items: flex-start;
        margin: 0;
        width: 9rem;
        margin-left: -1.5%;

        @media screen and (min-width: $breakpoint-desktop) {
            width: 13.2rem;
        }

        img {
            width: 95%;
        }
    }
}