@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-right: 150px;
}
.navbar-header__navbar-link-home, .navbar-header__navbar-link-about {
  display: flex;
  justify-content: space-between;
  color: #ff6060;
  text-decoration: none;
}
.navbar-header__navbar-link-home:hover, .navbar-header__navbar-link-about:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 50px 50px 50px;
  width: 100%;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 1600px;
  min-width: 1400px;
  margin: auto;
  background-color: #ffffff;
}