@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import './styles/setting.scss';
@import './styles/Nav.scss';
@import './styles/Header.scss';
@import './styles/variable.scss';
@import './styles/mixins.scss';
@import './styles/banner.scss';
@import './styles/EspaceLogement.scss';
@import './styles/Card.scss';
@import './styles/Host.scss';
@import './styles/Footer.scss';
@import './styles/FicheLogements.scss';
@import './styles/AboutBanner.scss';
@import './styles/Collapse.scss';



* {

    font-family: "Montserrat", sans-serif;
}

body {
    max-width: $wmax;
    min-width: $wmin;
    margin-right: 5%;
    background-color: $tertiary-color;
    overflow-x: hidden;

}

.App {
    margin-left: 2%;

}