.navbar-header {
    @include flex-end;
    text-transform: uppercase;
}

&__nav-link-home,
&__nav-link-about {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}